.download {
    text-align: center;
    margin-top: 2rem !important;
    button {
        color: white;
        font-family: "Poppins";
        background: linear-gradient(240.45deg, #ffd771 -133.75%, rgba(255, 215, 113, 0) 99.56%),
            linear-gradient(100.47deg, #5c6ae4 -20.78%, #c84c4c 155.66%);
        padding: 1em;
        border-radius: 0.5em;
        border: none;
    }

    @media(max-width: 475px) {
        transform: translateY(-150px);
    }
}
