@use "mixins";
.intro {
    @include mixins.flex(center, none);
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
    font-size: 1.7rem;
    font-weight: 500;
    position: relative;
    &-text {
        width: 50%;
    }
    p {
        line-height: 1.3;
        opacity: 0;
        transform: translateY(150px);
        transition: .5s;
    }

    p + p {
        margin-top: 2.9rem;
    }

    .toy-one, .toy-two {
        position: absolute;
        width: 250px;
        height: 200px;
        transform: scale(.7);
        right: 10%;
        top: 10%;
        background-image: url(../img/pencil.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .toy-two {
        background-image: url(../img/strikes.png);
        left: 8%;
        bottom: 10%;
        top: auto;
    }

    @media(max-width: 992px) {
        & {
            font-size: 1.4em;
        }
        .toy-one, .toy-two {
            display: none;
        }
    }

    @media(max-width: 768px) {
        & {
            font-size: 1em;
        }

        p + p {
            margin-top: 1em;
        }
    }

    @media(max-width: 475px) {
        & {
            padding: 2em;
            display: block;
            &-text {
                width: 100%;
            }
        }
    }

}