.mission {
    font-family: "Poppins";
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    p {
        margin: auto;
        width: 60%;
        line-height: 1.3;
    }
    p + p {
        margin-top: 2.9rem;
    }
}
