* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f4f1;
    overflow-x: hidden;
    .container {
        max-width: 1440px;
        margin: auto;
        section, footer {
            margin-top: 8.5rem;
        }

        @media(max-width: 768px) {
            section, footer {
                margin-top: 5rem;
            }
        }

        @media(max-width: 475px) {
            section, footer {
                margin-top: 2rem;
            }
        }
    }
}